<!-- calendar body -->
<section class="body">
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>

  <div class="square number">1</div>
  <div class="square number">2</div>
  <div class="square number">3</div>
  <div class="square number">4</div>
  <div class="square number">5</div>
  <div class="square number">6</div>
  <div class="square number">7</div>
  <div class="square number">8</div>
  <div class="square number">9</div>
  <div class="square number">10</div>
  <div class="square number">11</div>
  <div class="square number">12</div>
  <div class="square number">13</div>
  <div class="square number">14</div>

  <div class="square number number-badge">
    <p>15</p>
    <div class="badge">
      <p class="badge__text">Buy Anniversary gift</p>
    </div>
  </div>

  <div class="square number">16</div>
  <div class="square number">17</div>

  <div class="square number number-badge">
    <p class="today">18</p>
    <div class="badge">
      <p class="badge__text">Book return ticket</p>
    </div>
  </div>
  <div class="square number number-badge">
    <p>19</p>
    <div class="badge">
      <p class="badge__text">Meet chris in the conference</p>
    </div>
  </div>

  <div class="square number">20</div>
  <div class="square number">21</div>
  <div class="square number">22</div>
  <div class="square number">23</div>
  <div class="square number">24</div>
  <div class="square number">25</div>
  <div class="square number">26</div>
  <div class="square number">27</div>
  <div class="square number">28</div>
  <div class="square number">29</div>
  <div class="square number">30</div>
</section>
