<!-- Day-week-month ribbon -->
<div class="dwm-ribbon">
  <img
    class="completed__chevron left"
    src="./Images/chevron.png"
    alt="chevron"
  />

  <!-- small button -->
  <a class="small-button" href="#">
    <p>Day</p>
  </a>
  <!-- small button -->
  <a class="small-button" href="#">
    <p>Week</p>
  </a>
  <!-- small button + orange -->
  <a class="small-button accent" href="#">
    <p>Month</p>
  </a>

  <img
    class="completed__chevron right"
    src="./Images/chevron.png"
    alt="chevron"
  />
</div>
