<!-- tasks card -->
<div class="card add-task-card">
  <div class="btn add-task">
    <img class="add-task__image" src="./Images/plus-sign.png" alt="plus sign" />
    <p>Add a Task</p>
  </div>

  <div class="task-item one-row">
    <input type="radio" id="task1" name="task-item" value="task1" />
    <label for="task1">Wireframe for contact page</label>
  </div>
  <div class="task-item two-rows">
    <input type="radio" id="task2" name="task-item" value="task2" />
    <label for="task2">Book return ticket</label>
    <p>Today</p>
  </div>
  <div class="task-item two-rows important">
    <input type="radio" id="task3" name="task-item" value="task3" />
    <label for="task3">Buy anniversary gift</label>
    <p>3 days ago</p>
  </div>
  <div class="task-item one-row">
    <input type="radio" id="task4" name="task-item" value="task4" />
    <label for="task4">Pay electricity bill</label>
  </div>
  <div class="task-item two-rows">
    <input type="radio" id="task5" name="task-item" value="task5" />
    <label for="task5">meet chris in the conference</label>
    <p>tomorrow</p>
  </div>
</div>
