<!-- calendar top section -->
<section class="caldendar-top">
  <header class="calendar__header">
    <h2 class="main-date">November 2019</h2>
    <!-- mini date -->
    <div class="mini-date">
      <h3 class="date__title">Today</h3>
      <p class="date__subtitle">18, Mon</p>
    </div>
    <!-- search input -->
    <div class="btn search">
      <img class="search__image" src="./Images/magnifier.png" alt="magnifier" />
      <input
        type="text"
        id="search"
        name="search"
        placeholder="Search"
        maxlength="40"
      />
    </div>
  </header>

  <!-- Day-week-month ribbon -->
  <div class="dwm-ribbon">
    <img
      class="completed__chevron left"
      src="./Images/chevron.png"
      alt="chevron"
    />

    <!-- small button -->
    <a class="small-button" href="#">
      <p>Day</p>
    </a>
    <!-- small button -->
    <a class="small-button" href="#">
      <p>Week</p>
    </a>
    <!-- small button + orange -->
    <a class="small-button accent" href="#">
      <p>Month</p>
    </a>

    <img
      class="completed__chevron right"
      src="./Images/chevron.png"
      alt="chevron"
    />
  </div>

  <!-- days-of-the-week ribbon -->
  <div class="days-ribbon">
    <p>Sat</p>
    <p>Sun</p>
    <p>Mon</p>
    <p>Tue</p>
    <p>Wed</p>
    <p>Thu</p>
    <p>Fri</p>
  </div>
</section>
